# Copie ce fichier en .dev.vars et remplis les valeurs
# NE JAMAIS committer .dev.vars sur GitHub !

SUPABASE_URL=https://ywglhozakxivpuuhahox.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3Z2xob3pha3hpdnB1dWhhaG94Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MjA0MTAsImV4cCI6MjA4ODk5NjQxMH0.5qIZ_vM9Ll0U8EO_qQ_evrEchtIN21QrFSZ24914Lbs
